<ion-header>
  <ion-toolbar class="Background2">
    <div class="parteheader">
      <ion-title class="-Label2">Vacantes</ion-title>
      <ion-buttons class="Back-arrow" routerLink="/login">
        <ion-button class="Back2">
          <ion-img src="assets/back.svg" class="Back-arrow"></ion-img>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of datavacantes">

      <ion-avatar>
        <img src="{{item.imagen}}">
      </ion-avatar>
      <div class="prueba2">
      <ion-label class="value">{{item.tituloVacante}}</ion-label>
      <ion-label class="value2">{{item.fecha}}</ion-label>
      </div>
      <ion-buttons>
        <ion-button class="ic-arrow">
          <ion-img src="assets/ic-arrow.svg" class="Shape" (click)="getData2()"></ion-img>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
